[workspace]
members = [
  "radicle",
  "radicle-cob",
  "radicle-cli",
  "radicle-crdt",
  "radicle-crypto",
  "radicle-dag",
  "radicle-httpd",
  "radicle-node",
  "radicle-remote-helper",
  "radicle-ssh",
  "radicle-tools",
]
default-members = [
  "radicle",
  "radicle-cli",
  "radicle-cob",
  "radicle-crdt",
  "radicle-crypto",
  "radicle-node",
  "radicle-ssh",
  "radicle-remote-helper",
]

[profile.container]
inherits = "release"
debug = true
incremental = false

[patch.crates-io.radicle-git-ext]
git = "https://github.com/radicle-dev/radicle-git"
rev = "48022590d0439e7fb196605a573a725bbbf0e4d2"

[patch.crates-io.git-ref-format]
git = "https://github.com/radicle-dev/radicle-git"
rev = "48022590d0439e7fb196605a573a725bbbf0e4d2"
