[workspace]
package.version = "0.9.0"
members = [
  "radicle",
  "radicle-cob",
  "radicle-cli",
  "radicle-cli-test",
  "radicle-crdt",
  "radicle-crypto",
  "radicle-dag",
  "radicle-fetch",
  "radicle-node",
  "radicle-remote-helper",
  "radicle-ssh",
  "radicle-tools",
  "radicle-signals",
]
default-members = [
  "radicle",
  "radicle-cli",
  "radicle-cob",
  "radicle-crdt",
  "radicle-crypto",
  "radicle-node",
  "radicle-ssh",
  "radicle-remote-helper",
  "radicle-term",
  "radicle-signals",
]
resolver = "2"

[profile.container]
inherits = "release"
debug = true
incremental = false

[workspace.lints]
clippy.type_complexity = "allow"
clippy.enum_variant_names = "allow"
