# Example systemd unit file for `radicle-node`.
#
# When running radicle-node on a server, it should be run as a separate user.
#
# Copy this file into /etc/systemd/system and set the User/Group parameters
# under [Service] appropriately, as well as the `RAD_HOME` environment variable.
#
# If your Radicle key is passphrase-protected, you will have to set the
# `RAD_PASSPHRASE` environment variable to the passphrase supplied during
# `rad auth`, eg.
#
#   [Service]
#   Environment=RAD_PASSPHRASE=snickerdoodle
#
[Unit]
Description=Radicle Node
After=network.target network-online.target
Requires=network-online.target

[Service]
User=seed
Group=seed
ExecStart=/usr/local/bin/radicle-node --listen 0.0.0.0:8776 --force
Environment=RAD_HOME=/home/seed/.radicle RUST_BACKTRACE=1 RUST_LOG=info
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
