# Example systemd unit file for `radicle-httpd`.
#
# When running radicle-httpd on a server, it should be run as a separate user.
#
# Copy this file into /etc/systemd/system and set the User/Group parameters
# under [Service] appropriately, as well as the `RAD_HOME` environment variable.
#
[Unit]
Description=Radicle HTTP Daemon
After=network.target network-online.target
Requires=network-online.target

[Service]
User=seed
Group=seed
ExecStart=/usr/local/bin/radicle-httpd --listen 127.0.0.1:8080
Environment=RAD_HOME=/home/seed/.radicle RUST_BACKTRACE=1 RUST_LOG=info
KillMode=process
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
