# Example systemd system service unit configuration file for `radicle-node`.
#
# When running radicle-node for just one user, e.g. on a laptop,
# it should be run as a user service, see `../user/*.service`.
#
# For more information on how to install and configure this service,
# please read:
#
# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html
#
[Unit]
Description=Radicle Node
After=network.target network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/radicle-node --listen 0.0.0.0:8776 --force
KillMode=process
Restart=always
RestartSec=3
# Basic hardening options. For more please refer to `systemd-analyze security`.
PrivateTmp=true
ProtectSystem=strict
NoNewPrivileges=true
MemoryDenyWriteExecute=true

# If your Radicle key is passphrase-protected, you will have to set the
# `RAD_PASSPHRASE` environment variable to the passphrase supplied during
# `rad auth`.
#Environment=RAD_PASSPHRASE=snickerdoodle

User=seed
Group=seed

[Install]
WantedBy=multi-user.target
