#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

override_dh_auto_build:
	scripts/build-man-pages.sh . *.adoc

override_dh_auto_install:
	cargo install --locked --path=radicle-cli --root=debian/radicle
	cargo install --locked --path=radicle-node --root=debian/radicle
	cargo install --locked --path=radicle-remote-helper --root=debian/radicle
	cargo install --locked --path=radicle-httpd --root=debian/radicle
	rm -f debian/*/.crates*.*

override_dh_auto_test:
	echo tests are disabled, for now
