[package]
name = "radicle-crypto"
license = "MIT OR Apache-2.0"
version = "0.1.0"
authors = [
  "Alexis Sellier <alexis@radicle.xyz>",
  "Fintan Halpenny <fintan.halpenny@gmail.com>",
]
edition = "2021"

[features]
test = ["fastrand", "qcheck"]
ssh = ["base64", "radicle-ssh", "ssh-key"]

[dependencies]
amplify = { version = "4.0.0-beta.4" }
ed25519-compact = { version = "2.0.2", features = ["pem"] }
cyphernet = { version = "0.1.0", optional = true }
multibase = { version = "0.9.1" }
serde = { version = "1", features = ["derive"] }
sha2 = { version = "0.10.2" }
sqlite = { version = "0.30.3", optional = true }
thiserror = { version = "1" }
zeroize = { version = "1.5.7" }

[dependencies.fastrand]
version = "1.8.0"
default-features = false
optional = true

[dependencies.git-ref-format]
version = "0.2"
optional = true

[dependencies.ssh-key]
version = "0.5.1"
default-features = false
features = ["std", "encryption", "rand_core", "getrandom"]
optional = true

[dependencies.qcheck]
version = "1"
default-features = false
optional = true

[dependencies.radicle-ssh]
path = "../radicle-ssh"
version = "0"
default-features = false
optional = true

[dependencies.base64]
version = "0.13"
optional = true

[dev-dependencies]
fastrand = { version = "1.8.0", default-features = false }
qcheck-macros = { version = "1", default-features = false }
qcheck = { version = "1", default-features = false }
tempfile = { version = "3.3.0" }
